See if things are configured correctly
So far the kernel works -> python version 3.9
importing necessary packages
loading data -> works
setting up data->class lists

In [1]:
#seems like it's printing
print("Hello, World!")

Hello, World!

In [6]:
import numpy as np
import pandas as pd
import os
from PIL import Image

In [22]:
#include the functions
%run 'functions.ipynb'

In [18]:
#image data directory
data_dir = "../data/asl_data/"

#directory for train and test
train_dir = os.path.join(data_dir,"asl_alphabet_train")
test_dir = os.path.join(data_dir,"asl_alphabet_test")

In [ ]:
#test load and show one image
image_try = os.path.join(train_dir,"A/A1.jpg")
try_show_image = Image.open(image_try)
try_show_image.show() ##worked in a pop-up window

In [59]:
#class dictionary
categories = {  0: "A",
                1: "B",
                2: "C",
                3: "D",
                4: "E",
                5: "F",
                6: "G",
                7: "H",
                8: "I",
                9: "G",
                10: "K",
                11: "L",
                12: "M",
                13: "N",
                14: "O",
                15: "P",
                16: "Q",
                17: "R",
                18: "S",
                19: "T",
                20: "U",
                21: "V",
                22: "W",
                23: "X",
                24: "Y",
            }

In [64]:
#create lists
images = [] ##image names
target = [] ##corresponding classes
for category in categories:
    files = os.listdir(os.path.join(train_dir, categories[category]))
    for file in files:
        images.append(file)
        target.append(category)
df = pd.DataFrame({"filename": images, "category": target})

#shuffle the dataframe
shuffled_df = df.sample(frac=1).reset_index(drop=True)

In [65]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75000 entries, 0 to 74999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  75000 non-null  object
 1   category  75000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

    filename  category
0    A25.jpg         0
1  A2286.jpg         0
2  A1957.jpg         0
3   A618.jpg         0
4  A1943.jpg         0

In [66]:
shuffled_df.info()
shuffled_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75000 entries, 0 to 74999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  75000 non-null  object
 1   category  75000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

    filename  category
0  O2595.jpg        14
1  R2791.jpg        17
2   U237.jpg        20
3  G1167.jpg         6
4   T431.jpg        19