See if things are configured correctly
So far the kernel works -> python version 3.9
importing necessary packages
loading data -> works
setting up data->class lists

In [1]:
#seems like it's printing
print("Hello, World!")

Hello, World!

In [6]:
import numpy as np
import pandas as pd
import os
from PIL import Image

In [75]:
#include the functions
%run 'functions.ipynb'

In [18]:
#image data directory
data_dir = "../data/asl_data/"

#directory for train and test
train_dir = os.path.join(data_dir,"asl_alphabet_train")
test_dir = os.path.join(data_dir,"asl_alphabet_test")

In [ ]:
#test load and show one image
image_try = os.path.join(train_dir,"A/A1.jpg")
try_show_image = Image.open(image_try)
try_show_image.show() ##worked in a pop-up window

In [59]:
#class dictionary
categories = {  0: "A",
                1: "B",
                2: "C",
                3: "D",
                4: "E",
                5: "F",
                6: "G",
                7: "H",
                8: "I",
                9: "G",
                10: "K",
                11: "L",
                12: "M",
                13: "N",
                14: "O",
                15: "P",
                16: "Q",
                17: "R",
                18: "S",
                19: "T",
                20: "U",
                21: "V",
                22: "W",
                23: "X",
                24: "Y",
            }

In [86]:
#create lists
images = [] ##image names
target = [] ##corresponding classes
for category in categories:
    files = os.listdir(os.path.join(train_dir, categories[category]))
    for file in files:
        file_path = os.path.join(train_dir, categories[category], file)
        images.append(file_path)
        target.append(category)
df = pd.DataFrame({"filename": images, "category": target})

#shuffle the dataframe
shuffled_df = df.sample(frac=1).reset_index(drop=True)

In [87]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75000 entries, 0 to 74999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  75000 non-null  object
 1   category  75000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

                                          filename  category
0    ../data/asl_data/asl_alphabet_train/A/A25.jpg         0
1  ../data/asl_data/asl_alphabet_train/A/A2286.jpg         0
2  ../data/asl_data/asl_alphabet_train/A/A1957.jpg         0
3   ../data/asl_data/asl_alphabet_train/A/A618.jpg         0
4  ../data/asl_data/asl_alphabet_train/A/A1943.jpg         0

In [88]:
shuffled_df.info()
shuffled_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75000 entries, 0 to 74999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  75000 non-null  object
 1   category  75000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

                                          filename  category
0   ../data/asl_data/asl_alphabet_train/W/W583.jpg        22
1  ../data/asl_data/asl_alphabet_train/U/U1816.jpg        20
2   ../data/asl_data/asl_alphabet_train/I/I466.jpg         8
3  ../data/asl_data/asl_alphabet_train/N/N2701.jpg        13
4  ../data/asl_data/asl_alphabet_train/D/D1586.jpg         3

In [89]:
#split into 5 subsets for future cross validation
split_data = np.array_split(shuffled_df, 5)
sub_df1, sub_df2, sub_df3, sub_df4, sub_df5 = split_data

/Users/ygao/.local/share/virtualenvs/untitled_folder-0Tc94yBB/lib/python3.9/site-packages/numpy/core/fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [90]:
sub_df5.info()
sub_df5.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 60000 to 74999
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   filename  15000 non-null  object
 1   category  15000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 234.5+ KB

                                              filename  category
60000  ../data/asl_data/asl_alphabet_train/K/K2447.jpg        10
60001  ../data/asl_data/asl_alphabet_train/H/H2081.jpg         7
60002  ../data/asl_data/asl_alphabet_train/W/W1838.jpg        22
60003  ../data/asl_data/asl_alphabet_train/P/P2995.jpg        15
60004   ../data/asl_data/asl_alphabet_train/G/G504.jpg         9

In [91]:
sub_df5['greyscale'] = sub_df5['filename'].apply(image_to_grey_array)

In [92]:
sub_df5.head()

,filename,category,greyscale
60000,../data/asl_data/asl_alphabet_train/K/K2447.jpg,10,"[[31, 33, 29, 29, 28, 30, 28, 30, 29, 29, 29, ..."
60001,../data/asl_data/asl_alphabet_train/H/H2081.jpg,7,"[[29, 29, 31, 31, 29, 28, 30, 30, 29, 29, 29, ..."
60002,../data/asl_data/asl_alphabet_train/W/W1838.jpg,22,"[[31, 31, 28, 29, 31, 29, 28, 28, 29, 29, 29, ..."
60003,../data/asl_data/asl_alphabet_train/P/P2995.jpg,15,"[[33, 29, 30, 30, 28, 31, 28, 29, 29, 29, 29, ..."
60004,../data/asl_data/asl_alphabet_train/G/G504.jpg,9,"[[30, 31, 28, 29, 31, 27, 31, 28, 28, 29, 29, ..."